@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-body bg-whiten z-1 relative text-base;
    }
}

* {
    @apply scroll-smooth;
}

.ProseMirror {
    padding: 10px;
    background: transparent;
    border-radius: 0 0 5px 5px;
    min-height: 100px;
}

.ProseMirror p:empty::before {
    content: "";
    display: inline-block;
}
